body {
  background-color: #383b53;
  font-family: 'Poppins', sans-serif;
}
.navbar {
  position: fixed;
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  margin-bottom: 20px;
}
:root {
  --maincolor: #383b53;
  --secondaryColor: orange;
  --acsentColor: orange;
}

/* Navbar */
.nav-link.active {
  color: var(--acsentColor) !important;
  font-weight: 700;
}

/* mouse over link */
.nav-link :hover {
  color: white;
}

/* selected link */
a:active {
  color: orange;
}
.nav-dark {
  background-color: var(--secondaryColor) !important;
  z-index: 100;
  transition: 0.5s;
}

/* akhir nav */

/* Hero _jumbo */
#banner-slide {
  height: 1080px;
}
.hero {
  height: 650px;
  padding-top: 400px;
}
.hero-img {
  width: 80%;
  height: 4500px;
  display: block;
  margin: auto;
}
.hero-img .slide img {
  padding-top: 100px;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

#Profile p {
  color: #fff;
}
#Profile h1 {
  color: #fff;
}

#Profile {
  height: 50%;
  background-color: #383b53;
}
.btn-warning {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
/* akhir Hero */
/* Konten product */
#Konten {
  padding-top: 2rem;
  padding-bottom: 2%;
}
/* Akhir Konten */
/* Brand */
#Brand {
  padding-bottom: 5%;
}
/* Akhir Brand */
/* konten 2 */
#Konten2 {
  padding-top: 2rem;
  padding-bottom: 2%;
}
/* Akhir Konten 2 */
/* footer */
#alamat {
  padding-top: 2rem;
  text-align: center;
}
#footer-home {
}
#banner-content {
  background-image: url(img/Hero\ Banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* akhir footer */
/* couresel expander */
#carouselExample {
  display: flex;
  justify-content: space-between;
}

.carousel-inner {
  width: 90%;
  border: 2px solid #d1caa1;
  overflow: hidden;
  border-radius: 20px; /* Tambahkan sudut melengkung pada border */
  box-shadow: 30%;
}

.carousel-inner img {
  width: 30%;
  height: auto;
}
hr {
  border: 5px solid orange; /* Warna dan jenis garis */
  margin: 20px 0; /* Jarak atas dan bawah dari elemen sekitarnya */
  border-width: 2px; /* Lebar garis */
}
.button1  {
  border-radius: 12px;
  padding-right: 50%;
}
.button2  {
  border-radius: 12px;
  padding-right: 50%;
}
.button {
  color:#fff ;
  width: 350px;
  border-color: #383b53;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 6px;
  cursor: pointer;
}
/* Akhir coursel */
